// SCSS FILES //
@import '../mixins.scss';
@import '../variables.scss';

header {
  @extend %centered;
  @include flexbox(column, center, stretch);
  padding: $small $half;
  background-color: $color-main-transparent;
  box-shadow: 0 0 2px 2px #00221c40;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header_container {
  @include flexbox(row, space-between, center);
}

.header_logo {
  height: 20px;
}

.header_nav {
  @include flexbox(row, space-between, center, 10px);
}

.header_nav a {
  width: 80px;
  text-align: center;
  font: 400 0.9rem $font-accent;
  letter-spacing: 0.1rem;
  color: $color-light;
  text-decoration: none;

  &:focus {
    pointer-events: none;
    text-decoration: underline;
    text-underline-offset: 7px;
    color: $color-alt;
  }

  &:hover {
    color: $color-accent;
    font-weight: 500;
    font-size: 1rem;
  }
}