// SCSS FILES //
@import '../mixins.scss';
@import '../variables.scss';


.header {
  @include flexbox(column, center, stretch);
  position: sticky;
  top: 0px;
  padding: $small $half;
  background: $color-main;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  transition-duration: 300ms;

  box-shadow: 0px 0px 3px 1px rgba(82, 161, 126, 0.4);
}

.header .hide {
  display: none;
}

.header_container {
  @include flexbox(row, space-between, center);
}

.header_logo {
  height: 30px;
}

.header_nav {
  @include flexbox(row, space-between, center, 10px);
}

.header_nav a {
  width: 80px;
  text-align: center;
  font: 400 0.9rem $font-accent;
  letter-spacing: 0.1rem;
  color: $color-light;
  text-decoration: none;

  &:focus {
    pointer-events: none;
    text-decoration: underline;
    text-underline-offset: 7px;
    color: $color-alt;
  }

  &:hover {
    color: $color-accent;
    font-weight: 500;
    font-size: 1rem;
  }
}