// standards for screen sizes (media queries)
@mixin respond($breakpoint) {
  @if $breakpoint ==phone-tall {
    @media (min-width: 320px) {
      html {
        font-size: 1rem;
      }

      @content;
    }
  }

  @if $breakpoint ==phone-wide {
    @media (min-width: 576px) {
      html {
        font-size: 1rem;
      }

      @content;
    }
  }

  @if $breakpoint ==tablet {

    @media (min-width: 768px),
    (max-width: 991px) {
      html {
        font-size: 1.0625rem
      }

      @content;
    }
  }

  @if $breakpoint ==desktop {
    @media (min-width: 1200px) {
      html {
        font-size: 1.1875rem;
      }

      @content;
    }
  }
}

// flexbox mixin
@mixin flexbox($flex-direction: false,
  $justify-content: false,
  $align-items: false,
  $gap: false,
  $flex: false) {
  display: flex;

  @if $flex-direction !=false {
    flex-direction: $flex-direction;
  }

  @if $justify-content !=false {
    justify-content: $justify-content;
  }

  @if $align-items !=false {
    align-items: $align-items;
  }

  @if $gap !=false {
    gap: $gap;
  }
}