// import fonts used from google
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;500;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;500;700&display=swap');

// variables for colors, fonts, sizes
$font-main: 'Mulish', sans-serif;
$font-accent: 'Phudu', Tahoma, cursive;
$font-code: 'Inconsolata', monospace;

/** text-styles (weight, size, line-height) **/
$textstyle: (
  xlarge: 900 1.5rem $font-main,
  large: 600 1.2rem $font-main,
  regular: 300 1.0rem $font-main,
  bold: 800 $font-main,
  small: 0.8rem $font-main,
  thin: 200 $font-main,

  tagline: 600 3rem $font-accent,
  code: 400 1rem $font-code,
);

$color-main: #004236;
$color-alt: #52A17E;
$color-accent: #b798ff;
$color-light: #BDE0C0;
$color-transparent: #bde0c090;

// margins and padding
$full: 80px;
$half: 40px;
$small: 20px;
$gap: 20px;
$radius-lg: 25px;
$radius-med: 10px;
$radius-sm: 5px;

%centered {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

%card {
  @include flexbox(column, flex-start);
  cursor: pointer;
  padding: 0px;
  border-radius: $radius-lg;
  overflow: hidden;
}