// import all SCSS stylesheets for main to reference/use
@import "./styles/mixins.scss";
@import "./styles/variables.scss";


@import "./styles/components/footer";
@import "./styles/components/header";
@import "./styles/components/hero";
@import "./styles/components/card";

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: $color-main;
}

.App_container {
  @extend %centered;
  min-width: 320px;
  max-width: 1800px;
  color: #FFF;
  font: map-get($textstyle, regular);
}

h1 {
  font: map-get($textstyle, tagline);
  letter-spacing: 3px;
  color: #FFF;
  text-shadow: text3D(3, $color-accent);

  margin: 0 0 $small;
}

h2 {
  font: map-get($textstyle, xlarge);
  color: $color-main;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: text3D(3, #FFF);

  margin: 0 0 $half;
}

h3 {
  font: map-get($textstyle, large);
  color: $color-accent;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: text3D(1, #FFF);

  margin: $small 0;
}

h4 {
  font: map-get($textstyle, large);
  font-weight: 600;
  line-height: 1.5rem;

  margin: 0;
}

p {
  font: map-get($textstyle, regular);
}

a.button {
  color: $color-main;
  font: map-get($textstyle, code);
  font-weight: 600;
  text-decoration: none;
  text-align: right;
  display: inline-block;
  padding: 6px 8px 4px;
  width: 80px;
  min-width: 60px;
  background-color: #FFF;
  border-radius: 4px;
  border: 2px solid $color-alt;
  box-shadow: 2px 2px 0 0 $color-alt;

  &:hover {
    color: $color-accent;
    border: 2px solid $color-accent;
    box-shadow: 2px 2px 0 0 $color-accent;
    transition: 0.2s ease all;
  }
}

.container {
  @include flexbox(row, space-between, flex-start);
  padding: $half;
}

.projects_container {
  padding: $half $full $half;
  position: relative;
  background: $color-light;
  margin-bottom: $full;
  z-index: 1;
  @include angle(after);
  @include angle(before, true);
}

.projects_gallery {
  @extend %centered;
  @include flexbox(row, space-between);
  flex-wrap: wrap;
  gap: $half;
  list-style: none;
  margin: 0;
  padding: 0;
}