// import all SCSS stylesheets for main to reference/use
@import "./styles/mixins.scss";
@import "./styles/variables.scss";

@import "./styles/components/footer";
@import "./styles/components/header";

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: $color-main;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App_container {
  @extend %centered;
  width: 100vw;
  min-width: 320px;
  max-width: 1800px;
  height: 100vh;
  color: #FFF;
  font: map-get($textstyle, regular);
}